[user]
	name = Itaraju Brum
	email = ib246@cornell.edu
[core]
	editor = mate -w
[diff]
	tool = opendiff
[difftool]
	prompt = false
[merge]
	tool = opendiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	tree = log --oneline --graph --all
	wdiff = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
